/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет текста #FFFFFF */
/* акцент #2196F3 */
/* цвет текста контакты футер rgba(255, 255, 255, 0.6); */
/* фон #F5F5F5 #F5F4FA #2F303A*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --bg-color: #ffffff;
  --bg-color-black: #2f303a;
  --bg-color-grey: #f5f4fa;
  --primary-bg-color: #f5f5f5;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

/* header */

.logo {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-style {
  color: var(--accent-color);
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header-link{
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contact-nav .header-link:hover,
.contact-nav .header-link:focus {
  color: var(--accent-color);
}

.contact-nav {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


/* hero */
.hero-title {
  background-color: var(--bg-color-black);
  color: var(--bg-color);
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */
.btn-hero {
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-hero.btn:active {
  color: var(--bg-color);
  background-color: #188ce8;
}

.btn-work {
  color: var(--primary-text-color);
  background-color: var(--bg-color-grey);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.btn-work.list:hover,
.btn-work.list:focus {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

/* особливості */
.title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* чим ми займаємося */
.work {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* наша команда */
.team {
  color: var(--primary-text-color);
  background-color: var(--bg-color-grey);
}

.team-photo {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-box {
  color: var(--primary-text-color);
  background-color: var(--bg-color);
}

.team-list {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.footer-title {
  background-color: var(--bg-color-black);
  font-family: "Roboto", sans-serif;
}

.logo-footer {
  color: var(--bg-color);
}
.adress {
  color: var(--bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact-info .contact:hover,
.contact-info .contact:focus {
  color: var(--accent-color);
}

/* портфоліо */
.title-work {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-work {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.project {
  background-color: var(--bg-color);
  border: 1px solid #eeeeee;
}
